html,body{
  margin:0;
  padding:0;
  background-color: #000;
  color: #fff;
}
body{
  font-family: arial,sans-serif;
  margin:10px;
  margin-top: 30px;
}
#left, #right, #header, #content, .footer-message{
  /*border: 2px solid #060;*/
  border-radius: 20px 20px 20px 20px;
  padding:10px;
}
#header  {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#header, #footer {
  text-align: center;
}
#content{
  width:40%;
  margin-left:auto;
  margin-right:auto;
}
#left .block .content,
#right .block .content{
  text-shadow: 1px 1px 2px #000;
  padding-top:10px;
  padding-bottom: 10px;
  /*background-color: #060;*/
  border-radius: 0px 0px 20px 20px;
}
#block-d4os-ui-monitor-grid-status-d4os-ui-monitor-grid-status .content{
  text-align: center;
}
/*h1, h2 {
    text-shadow: 1px 1px 2px #0f0;
}*/
h1 {
  margin-top: 5px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  /*border-bottom: 2px solid #080;*/
  padding-bottom: 5px;
}
#left{
  float:left;
  width:25%;
}
#right{
  float:right;
  width:25%;
}
#footer{
  position:absolute;
  bottom:0;
  height:2em;
  width: 99%;
  margin-bottom: 40px;
}
.footer-message {
  margin:10px;
  width:80%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height: 1.5em;
}